.galaxy-container {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0.9;
    overflow: hidden;
}

.galaxy-canvas {
    width: 100%;
    height: 100%;
}